.Modal {
    position: fixed;
    z-index: 500;
    background-color: #eee;
    width: 45%;
    height: 40%;
    border: 1px solid #ccc;
    padding: 16px;
    left: 30%;
    top: 20%;
    transition: all 0.3s ease-out;
    color: black;
}

@media only screen and (max-width: 600px) {
    .Modal {
    width: 90%;
    height: 50%;
    left: 1%;
    }
}